<!DOCTYPE html>

<html>
<link rel="stylesheet" href="~/css/styles.css">

<head>
  <meta charset="utf-8" />
  <title>Vend-O-Matic Bakery-Palooza</title>
</head>

<body>
  @RenderBody()
  @await Html.PartialAsync("Footer")
</body>

</html>
